@font-face {
  font-family: "DM Sans";
  src: url("../../../fonts/DMSans-Regular.ttf") format("ttf"), url("../../../fonts/DMSans-Bold.ttf") format("ttf"), url("../../../fonts/DMSans-Italic.ttf") format("ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  position: relative;
  font-family: "DM Sans";
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.global {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  margin: auto;
  margin-top: 20px;
}

header,
main {
  max-width: 1240px;
  flex: 1;
}

.entete {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.entete_logo {
  text-align: center;
}
.entete_logo img {
  height: 46px;
  width: 50px;
  border: none;
}
.entete_searchInput {
  width: 95%;
  position: relative;
}
.entete_searchInput .globalSearch {
  width: 100%;
  padding: 24px;
  border-radius: 5px;
}
.entete_searchInput i {
  position: absolute;
  font-size: 32px;
  top: 30%;
  right: -32px;
}

.entete_titre h1 {
  font-family: DM Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;
  color: #D04F4F;
}
.entete_searchInput .globalSearch {
  background: #E7E7E7;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 24px;
  margin: 20px 0;
  border: none;
}
.entete_searchInput .globalSearch:focus {
  outline: none;
}

.container .dropdown {
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  color: white;
}
.container .dropdown_ingredients {
  background: #3282F7;
}
.container .dropdown_ingredients .ingredientSearch {
  background: #3282F7;
  border: none;
  padding: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
}
.container .dropdown_ingredients .ingredientSearch:focus {
  outline: none;
  color: white;
}
.container .dropdown_ingredients .ingredientSearch::placeholder {
  color: white;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
}
.container .dropdown_appliance {
  background: #68D9A4;
}
.container .dropdown_appliance .applianceSearch {
  background: #68D9A4;
  border: none;
  padding: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
}
.container .dropdown_appliance .applianceSearch:focus {
  outline: none;
  color: white;
}
.container .dropdown_appliance .applianceSearch::placeholder {
  color: white;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
}
.container .dropdown_ustensils {
  background: #ED6454;
}
.container .dropdown_ustensils .ustensilSearch {
  background: #ED6454;
  border: none;
  padding: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
}
.container .dropdown_ustensils .ustensilSearch:focus {
  outline: none;
  color: white;
}
.container .dropdown_ustensils .ustensilSearch::placeholder {
  color: white;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
}
.container .recipes_bloc-img {
  width: 380px;
  height: 178px;
  background: #C7BEBE;
}
.container .recipes_bloc-description {
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
}
.container .recipes_bloc-ingredients {
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}
.container .recipes_bloc-titre h2 {
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container .dropdown {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 2000;
}
.container .dropdown_ingredients-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container .dropdown_ingredients-list a {
  width: 200px;
}
.container .dropdown h2 {
  padding: 24px 0 24px 10px;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container .dropdown i {
  position: absolute;
  right: 15px;
}
.container .dropdown_ingredients, .container .dropdown_appliance, .container .dropdown_ustensils {
  min-width: 200px;
}
.container .dropdown_ingredients, .container .dropdown_appliance, .container .dropdown_ustensils {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  position: relative;
}
.container .dropdown_ingredients-input {
  display: none;
  display: flex;
  flex-direction: row;
  position: relative;
}
.container .dropdown_ingredients-input .ingredientSearch {
  display: none;
}
.container .dropdown_ingredients-input .fa-angle-down {
  position: absolute;
  top: 5px;
  right: 5px;
}
.container .dropdown_appliance-input {
  display: none;
  display: flex;
  flex-direction: row;
  position: relative;
}
.container .dropdown_appliance-input .applianceSearch {
  display: none;
}
.container .dropdown_appliance-input .fa-angle-down {
  position: absolute;
  top: 5px;
  right: 5px;
}
.container .dropdown_ustensils-input {
  display: none;
  display: flex;
  flex-direction: row;
  position: relative;
}
.container .dropdown_ustensils-input .ustensilSearch {
  display: none;
}
.container .dropdown_ustensils-input .fa-angle-down {
  position: absolute;
  top: 5px;
  right: 5px;
}
.container .recipes {
  margin-bottom: 50px;
}
.container .recipes_bloc {
  position: relative;
  overflow: hidden;
}
.container .recipes_bloc h2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container .recipes_bloc-ingredients, .container .recipes_bloc-description {
  width: 175px;
  position: absolute;
  padding: 10px;
}
.container .recipes_bloc-description {
  right: 0;
  padding: 10px;
}
.container .recipes_bloc-titre {
  padding: 10px;
}

.recipes {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: space-around;
  align-items: center;
  margin-top: 150px;
}
.recipes .recipes_bloc {
  max-width: 380px;
  height: 364px;
}

/*# sourceMappingURL=style.css.map */
