/* Error: expected "{".
 *     ,
 * 461 | >>>>>>> 874889e46ccb28c1cd322bf9308089de19b95423
 *     |                                                 ^
 *     '
 *   css\sass\layout\_container.scss 461:49  @import
 *   css\sass\main.scss 4:9                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 461 \2502  >>>>>>> 874889e46ccb28c1cd322bf9308089de19b95423\a     \2502                                                  ^\a     \2575 \a   css\\sass\\layout\\_container.scss 461:49  @import\a   css\\sass\\main.scss 4:9                  root stylesheet';
}
