@media (max-width: $tablet) {
  .dropdown {
    flex-direction: column;
  }
}

@media (max-width: $mobile) {
  .entete_searchInput {
    input { font-size: 1rem; padding: 18px 45px 18px 20px; }
  }

  .recipes-grid {
    grid-template-columns: 1fr;
  }

  article {
    height: auto;
    min-height: 420px;
  }
}