// Couleurs
$blue:    #3282f7;
$green:   #68d9a4;
$red:     #ed6454;
$grey:    #e7e7e7;
$dark:    #353535;
$light:   #f2f2f2;

// Polices
$font-primary: 'DM Sans', sans-serif;
$font-secondary: 'Lato', sans-serif;

// Tailles
$radius: 5px;
$gap: 20px;

// Breakpoints
$mobile:  768px;
$tablet:  992px;
$desktop: 1240px;