.entete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    &_logo img {
        height: 46px;
        width: 50px;
        border: none;
    }

    &_searchInput {
        position: relative;
        .globalSearch {
            width: 1240px;
            height: 69px;
            border-radius: 5px;
        }

        i {
            position: absolute;
            height: 52px;
            width: 52px;
            font-size: 32px;
            top: 30%;
            right: 5px;
        }
    }
}