.entete {
    display: flex;
    flex-direction: column;
    width: 100%;
    &_logo{
        text-align: center;
    }
    &_logo img {
        height: 46px;
        width: 50px;
        border: none;
    }

    &_searchInput {
        width: 95%;
        position: relative;
        .globalSearch {
            width: 100%;
            padding: 24px;
            border-radius: 5px;
        }

        i {
            position: absolute;
            font-size: 32px;
            top: 30%;
            right: -32px;
        }
    }
}