.container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .dropdown {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        padding: 0;
        margin: 0;
        position: absolute;
        z-index: 2000;

        &_ingredients {
            &-list {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;

                a {
                    width: 200px;
                }
            }
        }

        h2 {
            padding: 24px 0 24px 10px;
            text-align: left;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        i {
            position: absolute;
            right: 15px;
        }

        &_ingredients,
        &_appliance,
        &_ustensils {
            min-width: 200px;

        }

        &_ingredients,
        &_appliance,
        &_ustensils {
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            position: relative;
        }

        &_ingredients {
            &-input {
                display: none;
                display: flex;
                flex-direction: row;
                position: relative;

                .ingredientSearch {
                    display: none;
                }

                .fa-angle-down {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                }
            }
        }

        &_appliance {
            &-input {
                display: none;
                display: flex;
                flex-direction: row;
                position: relative;

                .applianceSearch {
                    display: none;
                }

                .fa-angle-down {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                }
            }
        }

        &_ustensils {
            &-input {
                display: none;
                display: flex;
                flex-direction: row;
                position: relative;

                .ustensilSearch {
                    display: none;
                }

                .fa-angle-down {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                }
            }
        }
    }

    .recipes {
        margin-bottom: 50px;

        &_bloc {
            position: relative;
            overflow: hidden;

            h2 {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            &-ingredients,
            &-description {
                width: 175px;
                position: absolute;
                padding: 10px;
            }

            &-description {
                right: 0;
                padding: 10px;
            }

            &-titre {
                padding: 10px;
            }
        }
    }
}